*{
    font-family: 'Poppins', sans-serif;
}

/*-----------first view page-----------------*/
.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.6),rgba(4,9,30,0.7)),url(images/mitwpu-full-imag1-1.jpg);
    background-position: center;
    position: relative;
    background-size: cover;
}
#mitwpu-main-logo{
    background-size: contain;
    height: 14vh;
    width: 20vw;
    border-radius:  0 0 0.5rem;
}
#mitwpu-main-logo:hover{
box-shadow: 0.3rem 0.3rem 0.4rem 0rem rgb(7, 7, 7);
border-radius: 0 0 0.8rem;

}
.header nav{
    
    display: flex;
    padding: 0.5% 1%;
    justify-content: space-between;
    align-items: center;

}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    display: block;
    height: 2px;
    width: 0;
    margin: auto;
    transition: 0.4s;
    background-color: #ec1c3b;
}
.nav-links ul li:hover::after{
    width: 100%;
}




